{% extends 'layouts/base-presentation.html' %}
{% block content %}

<div class="container mt-8">
  <div class="row g-3">
    {% for category in object_list %}
    <div class="col-lg-4 mb-4">
      <div class="info-horizontal bg-gray-100 border-radius-xl p-5 h-100">
        <div class="icon">
        </div>
        <div class="description">
          <h3>{{ category.name }}</h3>
          <h4>Przykladowe cwiczenia:</h4>
          {% for exercise in category.exercises.all|slice:":5" %}
            <a href="{% url 'workouts:exercise-detail' pk=exercise.id %}">
              <p>{{ exercise.name }}</p>
            </a>
          {% endfor %}
        </div>
        <a href="{% url 'workouts:category-detail' pk=category.id %}" class="btn bg-gradient-primary w-auto me-1 mb-0 ">
          <i class="text-sm ">All {{category.name}} exercises</i>
        </a>
      </div>
    </div>
    {% empty %}
      <div class="col-12 text-center mt-5">
        <h4>Brak ćwiczeń w bazie.</h4>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}


